.container-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
  }

.json-btn {
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #4dbaac;
    color: white;
}